* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*CSS RESET END*/


html, body {
  height: 75vh;
}

body {
  /* background-color: rgb(84, 189, 163); */
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  background-image: url("Images/background_fabric.png");
  font-family: 'Tajawal', sans-serif;
  
} 

#root {
  position: relative;     /*Make content appear above video*/
}

.groupName, .groupImages, .unknownGroup, .groupImages2{
  display: flex;
  flex-wrap: wrap;    /*Resizing window puts the images after each other*/
  align-items: center;
  justify-content: center;  
  margin-left: 5%;
  margin-right: 5%;
  letter-spacing: 10px;
}

.groupImages {
  margin-top: 2%;
  /* margin-bottom: 4%; */
}

.groupImages, .groupImages2 {
  justify-content: space-around;
}

.groupImages a, .groupImages2 a {
  text-align: center;
  width: 370px;
  transition: 0.5s ease;    /*Img grow in 0.5s then slowly fades out */
}

.groupImages img, .groupImages2 img {
  max-width: 90%;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;    
  border: 5px solid #4b8aa3; 
}

a:hover {
  opacity: 0.8;   
  transform: scale(1.2);
}

a:hover .nameTextBori, a:hover .nameTextAndras, a:hover .nameTextBeno, a:hover .nameTextKrisz {
  opacity: 1;
  transition: 0.5s;
  text-decoration: underline;
}

.nameTextBori, .nameTextAndras, .nameTextBeno, .nameTextKrisz {
  font-size: 45px;
  letter-spacing: 8px;
  color: #4b8aa3;
  font-weight: bold;
  /* transition: .5s ease; */
  opacity: 0;
}

.nameTextBori {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-210%, -180%);
  transition: .5s ease;
}

.nameTextAndras {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(92%, -180%);
  transition: .5s ease;
}

.nameTextBeno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-195%, 60%);
  transition: .5s ease;
}

.nameTextKrisz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(70%, 60%);
  transition: .5s ease;
}

.groupName h1 {
  font-size: 100px;
  padding-left: 5%;
  padding-right: 5%;
  color: #4b8aa3;
}

.unknownGroup {
  margin-top: 5px;
  margin-bottom: 15px;
}

.unknownGroup a {
  text-align: center;
  transition: 0.5s ease; 
}

.unknownGroup button{
  font-size: 20px;
  font-weight: bold;
  color: #4b8aa3;
}

/*---------------------Video background css start----------------------*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*---------------------Video background css end----------------------*/


/*---------------------Subpages css start----------------------*/

.subpageDiv {
  font-family: 'Times New Roman', sans-serif !important;
  font-weight: bold;
  font-size: 20px;
}

.subpageMain {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;    /*Resizing window puts the images after each other*/
  justify-content: center;
}

.subpageImage {
  align-self: center;
  width: 600px;
  text-align: center;
}

.subpageImage img{
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;    
  border: 5px solid #4b8aa3; 
}

.subpageText {
  width: 1200px;
  text-align: center;
}

.subpageText ul {
  margin-top: 30px;
  list-style-position: outside;
}

.subpageText li {
  text-align: left;
  margin-left: 50px;
  padding: 10px;
}

.subpageText h1 {
  font-size: 50px;
}

.kriszBody {
  background-color: rgb(107, 146, 161);
}

.kriszBody .logoPear{
  display: flex;
  justify-content: center;
}

.kriszBody .subpageText img{
  width: 40px;
  height: 40px;
}

.kriszBody ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.kriszBody li{
  padding-top: 20px;
}

.subpageBorka {
  background-color: #EFDAD7;
}

.virag {
  
}

.bodyAndras {
  background-color: rgb(157, 70, 13);
}
/*----------------------Subpages css end-----------------------*/