* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*CSS RESET END*/


html, body {
  height: 75vh;
}

body {
  /* background-color: rgb(84, 189, 163); */
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  background-image: url("Images/background_fabric.png");
  font-family: 'Tajawal', sans-serif;
  
} 

#root {
  position: relative;     /*Make content appear above video*/
}

.groupName, .groupImages, .unknownGroup {
  display: flex;
  flex-wrap: wrap;    /*Resizing window puts the images after each other*/
  align-items: center;
  justify-content: center;  
  margin-left: 5%;
  margin-right: 5%;
  letter-spacing: 10px;
}

.groupImages {
  margin-top: 10%;
  margin-bottom: 4%;
}


.groupImages a {
  text-align: center;
  width: 320px;
  transition: 0.5s ease;    /*Img grow in 0.5s then slowly fades out */
}

.groupImages img {
  /*height: 60%;
  width: 60%;*/
  max-width: 90%;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;    
  border: 5px solid #4b8aa3; 
}

a:hover {
  opacity: 0.8;   
  transform: scale(1.2);
}

a:hover .nameText {
  opacity: 1;
  transition: 0.5s;
}

.nameText {
  font-size: 45px;
  color: white;
  font-weight: bold;
  /* transition: .5s ease; */
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
}

.groupName h1 {
  font-size: 100px;
  /* border: 15px solid black; */
  border-style: double;
  padding-left: 18%;
  padding-right: 18%;
  color: #4b8aa3;
}

.unknownGroup {
  margin-top: 20px;
}

.unknownGroup a {
  text-align: center;
  transition: 0.5s ease; 
}

.unknownGroup button{
  font-size: 20px;
  font-weight: bold;
  color: #4b8aa3;
}

/*---------------------Video background css start----------------------*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*---------------------Video background css end----------------------*/


/*---------------------Subpages css start----------------------*/

.subpageDiv {
  font-family: 'Rajdhani', sans-serif !important;
  font-size: 20px;
}

.subpageMain {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;    /*Resizing window puts the images after each other*/
  justify-content: center;
}

.subpageImage {
  align-self: center;
  width: 600px;
  text-align: center;
}

.subpageImage img{
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;    
  border: 5px solid #4b8aa3; 
}

.subpageText {
  width: 1200px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.subpageText ul {
  margin-top: 30px;
  list-style-position: outside;
}

.subpageText li {
  text-align: left;
  margin-left: 50px;
  padding: 10px;
}

.subpageText h1 {
  font-size: 50px;
}

.kriszBody {
  background-color: rgb(107, 146, 161);
}

.kriszBody .backButton {
  position: absolute;
}

.kriszBody .backButton img{
  height: 60px;
  width: 60px;
  padding-top: 10px;
  padding-left: 10px;
}

.kriszBody .logoPear{
  display: flex;
  justify-content: center;
}

.kriszBody .subpageText img{
  width: 50px;
  height: 40px;
  align-self: center;
}

.kriszBody .subpageText a{
  align-self: center;
}

.kriszBody .subpageImage img{
  border: 5px solid black;
}

.kriszBody ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.kriszBody li{
  padding-top: 20px;
  transition: 1s ease;
  font-size: 20px;
}

.kriszBody li:hover{
  transform: scale(1.1);
}

.subpageBorka {
  background-color: #EFDAD7;
}

.virag {
display: flex;
justify-content: center;
} 

.virag img{
  height: 40px;
  width: 40px;
  align-self: center;
}

.subpageBorka .subpageImage img{
  border: 5px solid #af1b6e !important;
}

.subpageBorka ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.subpageBorka li{
  padding-top: 20px;
}

.subpageBorka li:hover{
  transform: scale(1.1)
}

.subpageBorka li{
  transition: 1s ease;
}

.bodyAndras {
  background-color: rgb(157, 70, 13);
}

.bodyAndras .subpageImage img{
  border: 5px solid #f3e35b
}

.bodyAndras li{
  transition: 1s ease;
}

.bodyAndras li:hover{
  transform: scale(1.1)
}
  
.subpageImageBeno {
  text-align: center;
  align-self: center;
  }

.subpageImageBeno img {
  text-align: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px; 
  margin-top: 10px;   
  border: 3px solid rgb(65, 45, 42);
}

.subpageTextBeno {
  margin-top: 20px;
  text-align: center;
  
  width: 1200px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.subpageImage1Beno {
  justify-content: center;
  display: flex;
  margin-top: 40px;
}
.subpageTextBeno h1 {
  font-size: 50px;
  font-weight: 5px;
  
}
.subpageTextBeno ul {
  padding: 10px;
  list-style-position: outside;
}
.subpageTextBeno li {
  text-align: left;
  margin-left: 50px;
  padding: 5px;
  font-size: 20px;
}

.subpageTextBeno img {
  width: 100px;
  height: 40px;
  align-self: center;
}

/*----------------------Subpages css end-----------------------*/


/*----------------------Group 3 css start-----------------------*/

.g3Main1, .g3Main2 {
  display: flex;
  justify-content: space-around;
}

.g3Image img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;    
  border: 5px solid #4b8aa3; 
}










/*----------------------Group 3 css start-----------------------*/
